header {
  height: 20px;
  width: auto;
}
body {
  margin: 0;
  width: 1082px;
  flex: 1 1 1;
}
.stash-lox {
  position: inherit;
  left: 5.8em;
  top: .8em;
  font-family: "Marck Script", cursive;
  font-size: 2em;
  color: #137547;
}
span p.stash-lox {
  position:absolute;
}
.header {
  height: 30px;
  width: auto;
  background-color: #0f7173;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: small;
}
.header p {
  position: absolute;
  display: flex;
  justify-content: center;
}
#head {
  position:relative;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .nav start*/
.nav {
  display: inline-block;
  background: white;
  position: relative;
  top: 10px;
  left: 20em;
  width: 600px;
  padding: 5px;
  margin-bottom: 20px;
}
.nav input {
  width: 100%;
  padding: 5px 10px 5px 10px;
  display: block;
  margin-bottom: 10px;
  box-shadow: 1px 1px 25px 1px#cce3de;
  border-radius: 1.5em;
  border-style: inherit;
}
.nav button {
  height: 20px;
  width: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 15px;
  position: absolute;
  top: 1.3em;
  right: 18.8em;
  left: 40em;
  padding: 0 5px;
  z-index: auto;
}
.search-bar {
  position: inherit;
  margin: 1em 1em 1em 1em;
}
/* .nav end */

/* .top-container*/
.top-container {
  background-color: #c4e1dd;
  position: relative;
  height: 420px;
  width: auto;
  margin-top: 0;
  box-shadow: 1px 0px 5px 1px grey;
  background-image: url("weed%202.jpeg");
  background-size: auto 450px;
  background-position-x: right;
  background-repeat: no-repeat;
}
p.Ad {
  position: absolute;
  left: 7.2em;
  top: 2.5em;
  font-family: "Bebas Neue", cursive;
  font-size: 2.5em;
  color: black;
  margin-bottom: 0;
}
#Ads {
  position: absolute;
  left: 15em;
  top: 5.5em;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2em;
  color: black;
  margin-top: 0;
}
button.order-now {
  display: inline-block;
  height: 3em;
  width: 8em;
  color: #137547;
  border-radius: 0.3em;
  border: none;
  font-size: 1em;
  position: absolute;
  top: 12.5em;
  left: 20em;
  box-shadow: 1px 1px 10px 1px grey;
  border-style: inherit;
}
button.shop-deals {
  height: 3em;
  width: 8em;
  color: #137547;
  border-radius: 0.3em;
  border: none;
  font-size: 1em;
  position: absolute;
  top: 12.5em;
  left: 30em;
  box-shadow: 1px 1px 10px 1px grey;
  border-style: inherit;
}
.buttons {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: inherit;
}
/* .top-container ends */

/* local favorites shows local dispensaries */
.local-fav {
  width: 58em;
  height: 35em;
  margin: auto 8em auto 8em;
  position: absolute;
  color: #000000;
  font-family: "Bebas Neue", cursive;
}
.dispensaries {
  height: 26em;
  width: 50em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dispensary-1 {
  height: 22.8em;
  width: 14.25em;
  position: absolute;
  left: 2em;
  background: transparent;
  box-shadow: 1px 0px 5px 1px grey;
  border: none;
  border-color: #000000;
  margin: 2em auto 2em auto;
  
}
img.weed-logo1 {
  width: 80%;
  position: absolute;
  left: 1.4em;
  top: 0.5em;
}
.sunnyside-cann {
  width: auto;
  font-size: 1.2em;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 7em;
  left: 1.5em;
  margin: 0.2em auto 0.2em auto;
}
.free-online {
  color: #137547;
  margin: 1px auto 1px auto;
  font-size: 1.2em;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 11.5em;
  left: 1.5em;
}
.hours {
  color: #137547;
  margin: 1px auto 1px auto;
  font-size: 0.8em;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 22em;
  left: 2.3em;
}
.pickup {
  color: #137547;
  margin: 1px auto 1px auto;
  font-size: 0.6em;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 85%;
  left: 13%;
}
.delivery {
  color: #137547;
  margin: 1px auto 1px auto;
  font-size: 0.6em;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 85%;
  left: 30%;
}
.dispensary-2 {
  height: 22.8em;
  width: 14.25em;
  position: absolute;
  left: 18em;
  background: transparent;
  box-shadow: 1px 0px 5px 1px grey;
  border: none;
  border-color: #000000;
  margin: 2em auto 2em auto;
}
img.weed-logo2 {
  width: 80%;
  position: absolute;
  left: 1.4em;
  top: 0.5em;
}
.king-cann {
  width: auto;
  font-size: 1.2em;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 7em;
  left: 1.5em;
  margin: 0.2em auto 0.2em auto;
}
.dispensary-3 {
  height: 22.8em;
  width: 14.25em;
  position: absolute;
  left: 34em;
  background: transparent;
  box-shadow: 1px 0px 5px 1px grey;
  border: none;
  border-color: #000000;
  margin: 2em auto 2em auto;
}
img.weed-logo3 {
  width: 80%;
  position: absolute;
  left: 1.4em;
  top: 0.5em;
}
.cann-bk {
  width: auto;
  font-size: 1.2em;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 7em;
  left: 1.5em;
  margin: 0.2em auto 0.2em auto;
}

/* footer */
.footer {
  text-align: center;
  height: 8em;
  width: auto;
  background-color: #0f7173;
  border-style: none;
  margin-top: 80em;
  padding: 2em auto 2em;
  font-size: 1.2em;
  font-family: "Bebas Neue", cursive;
  padding: 3em; 0 3em 0;
}
.footer a {
  margin: 6em 2em 2em 3em;
  text-decoration: none;
  color: white;
}
.footer p {
  margin: 7em 2em 2em 3em;
  color: white;
}
/* media queries */
